@font-face {
    font-family: 'pixel';
    src: url('resources/Uni0553.woff2') format('woff2'), url('resources/Uni0553.woff') format('woff'),
        url('resources/Uni0553.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
